doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
    body    
        .container
            h1 AV Rental Equipment
            .calender
                #calendar(style={"height": "800px"})
            .form
                p this is where the form will go
                a(href='/get-data') Get Data
            script(src='/dist/calendar.min.js')
