doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css")
        script(src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js")
        script(src="/calendar.js")
    body    
        h1 Calendar
        p the calendar here
        div#calendar

