doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/styles.css")
        script(src="/calendar.js")
    body    
        h1 Calendar
        p the calendar here
        div#calendar
        .form(style={'background-color': 'lightblue', 'height': '100%'})
            p hello there
            p this is where a dropdown will be
            img(src='https://i.guim.co.uk/img/media/fe1e34da640c5c56ed16f76ce6f994fa9343d09d/0_174_3408_2046/master/3408.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=0d3f33fb6aa6e0154b7713a00454c83d' alt='dog image' height='400')

