doctype html
html 
    head
        //- This is pulled over from index.js 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
    body    
        .container
            header 
                h1 AV Rental Equipment
            //- One-half of the page (desktop) for calendar
            .calendar
                h3 Equipment Availability
                h4(id="month-heading")
                //- Instantiate Calendar here
                
            //- One-half of the page (desktop) for form
            .form
                h3 Reserve Equipment
                p Reserve your equipment below! Equipment rentals are for 3 days.
                //- Add form here
                
        //- Calling the minified script files
        script(src='/dist/calendar.min.js')
        