.container {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "cal form";
    column-gap: 30px;
}

header {
    grid-area: header;
}

.calendar {
    grid-area: cal; 
}

.form {
    grid-area: form;
}

form#rentEquipment {
    display: flex;
    flex-direction: column;
    width: 65%;
}

#rentEquipment select, #rentEquipment input {
    margin-bottom: 2em;
}

#chooseEquipment {
    margin-right: 15px;
}

